ion-content {
  --padding-top: 32px;

  ion-item {
    margin-bottom: 15px;

    ion-button {
      --padding-start: 40px;
      --padding-end: 40px;
      --padding-bottom: 10px;
      --padding-top: 10px;
      height: auto;
    }
  }
}