<ion-header mode="md">
  <ion-toolbar mode="md" color="dark">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <label>Recuperar contraseña</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <form [formGroup]="forgotForm">
    <ion-item>
      <ion-input placeholder="ejemplo@correo.com" inputmode="text" type="email" formControlName="email" required>
      </ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message"
          *ngIf="forgotForm.get('email').hasError(validation.type) && (forgotForm.get('email').dirty || forgotForm.get('email').touched)">
          <ion-icon size="small" name="information-circle-outline">
          </ion-icon>
          <p>{{ validation.message }}</p>
        </div>
      </ng-container>
    </div>
    <ion-label color="dark">Por favor escriba su correo electrónico.</ion-label>
    <ion-item lines="none" class="ion-padding-top">
      <div class="center-button">
        <ion-button [disabled]="forgotForm.invalid" (click)="forgot()" color="primary" shape="round">
          Enviar
        </ion-button>
      </div>
    </ion-item>
  </form>
</ion-content>