<ion-header mode="md">
  <ion-toolbar mode="md" color="dark">
    <ion-buttons slot="start">
      <ion-button class="button-back" size="large" [routerLink]="['/plan']">
        <ion-icon mode="md" name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label color="light">Regalar</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" size="small" autoHide="false" class="toggle"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-text>
      <h2>
        Para regalar un plan, primero debe confirmar el correo del beneficiario.
      </h2>
    </ion-text>
  </ion-item>
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-label position="floating">Nombre completo del beneficiario</ion-label>
      <ion-input inputmode="text" maxlength="100" formControlName="fullname" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.fullname">
        <div class="error-message"
          *ngIf="registerForm.get('fullname').hasError(validation.type) && (registerForm.get('fullname').dirty || registerForm.get('fullname').touched)">
          <ion-icon size="small" name="information-circle-outline"></ion-icon>
          <p>{{ validation.message }}</p>
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Correo del beneficiario</ion-label>
      <ion-input inputmode="text" type="email" formControlName="email" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message"
          *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
          <ion-icon size="small" name="information-circle-outline">
          </ion-icon>
          <p>{{ validation.message }}</p>
        </div>
      </ng-container>
    </div>
    <ion-item lines="none" class="ion-padding-top">
      <div class="center-button">
        <ion-button (click)="requestGift()" [disabled]="registerForm.invalid" color="primary" shape="round">
          Enviar
        </ion-button>
      </div>
    </ion-item>
  </form>

</ion-content>